<h1 class="display-4 text-primary">Sneakers#index</h1>
<p>※現在、登録されている商品の一覧です。</p>
<table class="table">
    <tr>
        <th>ID</th><th>Name</th><th>Maker</th><th colspan="2"></th>
    </tr>
    <% @sneakers.each do |obj| %>
    <tr>
        <td width="35px"><%= obj.id %></td>
        <td width="50%"><a href="/sneakers/<%= obj.id %>"><%= obj.name %></a></td>
        <td><%= obj.maker %></td>
        <td width="80px"><a href="/sneakers/edit/<%= obj.id %>">編集</a></td>
        <td width="80px"><a href="javascript:delData(
                                    <%= (obj.id.to_s + ",'".to_s + 
                                         obj.name.to_s).html_safe %>');">削除</a></td>
    </tr>
    <% end %>
</table>
<p><a href="/sneakers/add">★新規登録★</a></p>
<script>
function delData(id,name) {
    if (confirm('「' + name + '」の商品を削除しますか？')) {
        document.location = "/sneakers/delete/" + id;
    }
}
</script>
